html {
    text-align: center;
}

main {
    font-family: 'Comic Sans MS', cursive;
    height: 100vh;
    width: 100vw;
    padding-top: 10vh;
}

#title {
    font-size: 2.5rem;
}

#time {
    padding: 1.5rem;
    font-size: 1.6rem;
    line-height: 1.5;
}

#quote, #greeting {
    padding: 1rem;
    font-size: 1.4rem;
}

#quote {
    font-style: italic;
}

@media (min-width: 769px) {
    #title {
        font-size: 2.8rem;
    }
    #time {
        font-size: 1.8rem;
    }
    #quote, #greeting {
        font-size: 1.6rem;
    }
}

@media (min-width: 993px) {
    #title {
        font-size: 3.1rem;
    }
    #time {
        font-size: 2rem;
    }
    #quote, #greeting {
        font-size: 1.8rem;
    }
}

@media (min-width: 1201px) {
    #title {
        font-size: 3.5rem;
    }
    #time {
        font-size: 2.2rem;
    }
    #quote, #greeting {
        font-size: 2rem;
    }
}